<div class="container flex justify-content-center align-items-center">
  <div class="wrapper">

    <div class="navBar flex justify-space-between align-items-center">

      <div class="logoDiv">
        <h2 class="title cursor-pointer" (click)="windowReload()">{{title}}</h2>
        <!-- <img class="logoImg cursor-pointer" (click)="windowReload()" src="../assets/images/logo.png" alt="logo"> -->
      </div>

      <div class="navOptionsDiv">
        <ng-container *ngFor="let item of navOptions">
          <a class="navOptions" [href]="item.url">{{item.label}}</a>
        </ng-container>
      </div>

    </div>

    <!-- <i class="fa-solid fa-phone" style="color: aqua;"></i> -->

<section id="home" class="home flex justify-content-center align-items-center">
      <div class="homeIntroDiv flex justify-content-center align-items-center">

        <div class="homeIntroWrapper">
          <p class="homeGreetingPara bold">{{homeGreetingPara}}</p>
          <p class="homeNamePara bold">{{homeNamePara}}</p>
          <p class="homeRolePara bold">{{homeRolePara}}</p><span class="homeRole">{{role}}</span>
          <p class="homeIntroPara indent">{{homeIntroPara}}</p>

          <div class="socialLinksDiv flex">
            <div class="socialLinkIconWrapper cursor-pointer flex justify-content-center align-items-center"
              *ngFor="let item of socialLinks">
              <i class="socialLinkIcon" [class]="item.icon"></i>
            </div>
          </div>
        </div>

      </div>

      <div class="homeProfileDiv flex justify-content-center align-items-center">
        <div class="homeProfileWrapper">
          <img class="homeProfile" src="../assets/images/profile1.1.png" alt="ProfileImg">
        </div>
      </div>
    </section>

    <section id="about" class="about flex justify-content-center align-items-center">

      <div class="aboutProfileDiv flex justify-content-center align-items-center">
        <div class="aboutProfileWrapper">
          <img class="aboutProfile" src="../assets/images/profile4.1.png" alt="ProfileImg">
        </div>
      </div>

      <div class="aboutDiv flex justify-content-center align-items-center">

        <div class="aboutWrapper">
          <p class="aboutHeading bold">{{about}}<span class="aboutHeadingSpan">{{me}}</span></p>
          <p class="aboutRole bold">{{role}}!</p>
          <p class="aboutPara indent">{{aboutIntroPara}}</p>

          <div class="readMoreDiv flex">
            <button class="readMore cursor-pointer">{{readMore}}</button>
          </div>
        </div>

      </div>

    </section>


    <section id="skills" class="skills flex justify-content-center align-items-center flex-column">
      <h2 class="skillsHeading">{{my}}<span class="skillsHeadingSpan">{{skills}}</span></h2>
      <div class="skillsWrapperv w-full flex justify-content-center align-items-center flex-column">
        <div class="skillsSubHeadingDiv">
          <label for="skills" class="skillsSubHeading">{{codingSkills}}</label>
        </div>

        <div class="skillsDiv">
          <div class="skill" *ngFor="let item of skillsList">
            <div class="skillLabelDiv flex align-items-center justify-space-between">
              <p class="skillLabel">{{item.label}}</p>
              <p class="skillPercentage">{{item.proficiency}}%</p>
            </div>
            <div class="skillProgressDiv flex align-items-center">
              <div class="skillProgressBar" [ngStyle]="{'width':item.proficiency+'%'}"></div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="services" class="services flex justify-content-center align-items-center ">
      <div class="servicesWrapper">
        <div class="servicesHeadingDiv">
          <h2 class="servicesHeading">{{my}}<span class="servicesHeadingSpan">{{services}}</span></h2>
        </div>
        <div class="servicesDiv flex justify-content-center align-items-center">
          <div class="service flex justify-content-center align-items-center flex-column cursor-pointer"
            *ngFor="let item of servicesLists">
            <i class="serviceIcon" [class]="item.icon"></i>
            <h2 class="serviceTitle">{{item.title}}</h2>
            <p class="servicePara indent">{{item.description}}</p>
          </div>
        </div>
      </div>
    </section>


    <section id="portfolios" class="portfolios flex justify-content-center align-items-center">
      <div class="portfolioWrapper">

        <div class="portfolioHeadingDiv">
          <h2 class="portfolioHeading">{{latest}}<span class="servicesHeadingSpan">{{projects}}</span></h2>
        </div>

        <div class="portfolioDiv flex justify-content-center align-items-center">
          <div class="portfolio flex justify-content-center align-items-center flex-column cursor-pointer"
            *ngFor="let item of projectsList" [ngStyle]="{'background-image':'url('+item.background+')'}">
            <h2 class="portfolioTitle">{{item.title}}</h2>
            <p class="portfolioDescription indent">{{item.description}}</p>
          </div>
        </div>

      </div>
    </section>




    <section id="contacts" class="contacts flex justify-content-center align-items-center">
      <div class="contactsWrapper flex justify-content-center align-items-center flex-column ">
        <div class="contactsTitle">
          <h2 class="contactsTitle">{{contact}} <span class="contactsSpan">{{me}}</span></h2>
        </div>

        <div class="contactsDiv flex justify-content-center align-items-center flex-warp">
          <div class="contact flex justify-content-between align-items-center cursor-pointer"
            *ngFor="let item of socialLinks">
            <div class="socialIconDiv">
              <i class="socialIcon" [class]="item.icon"></i>
            </div>
            <div class="socialDescriptionDiv flex justify-content-center align-items-center flex-column">
              <div class="socialLabelDiv w-full flex justify-content-start align-items-center">
                <h2 class="socialLabel">{{item.label == "Call" ? "WhatsApp" : item.label}}</h2>
              </div>
              <div class="socialDescription">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </section> 










  </div>
</div>
